<h1> <strong> Philippine Dengue Cases Analysis (2016-2020) </strong></h1>
<h2> Analyst: Nichole Allyson D. Calderon </h2> <hr>

<h3> <strong> Libraries </h3>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h3> <strong> Data Set </h3>

In [2]:
dengue = pd.read_csv('datasets\\dengue.csv')

In [3]:
dengue

          Month  Year    Region  Dengue_Cases  Dengue_Deaths
0       January  2016  Region I           705              1
1      February  2016  Region I           374              0
2         March  2016  Region I           276              0
3         April  2016  Region I           240              2
4           May  2016  Region I           243              1
...         ...   ...       ...           ...            ...
1015     August  2020     BARMM            91              0
1016  September  2020     BARMM            16              8
1017    October  2020     BARMM            13              9
1018   November  2020     BARMM            15              1
1019   December  2020     BARMM            23              0

[1020 rows x 5 columns]

In [4]:
dengue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          1020 non-null   object
 1   Year           1020 non-null   int64
 2   Region         1020 non-null   object
 3   Dengue_Cases   1020 non-null   int64
 4   Dengue_Deaths  1020 non-null   int64
dtypes: int64(3), object(2)
memory usage: 40.0+ KB

<h2> <strong> 10 Questions/Insights </h2>

<h3> 1. Is there a correlation between dengue cases and dengue deaths per region? </h3>

In [5]:
region_dengue = dengue.groupby('Region')[['Dengue_Cases', 'Dengue_Deaths']].sum().reset_index()

In [6]:
region_dengue

         Region  Dengue_Cases  Dengue_Deaths
0         BARMM         11537            332
1           CAR         30582           1008
2           NCR        115966           4008
3      Region I         59066            157
4     Region II         45141            193
5    Region III        131064            482
6   Region IV-A        163029            652
7   Region IV-B         30849            130
8     Region IX         47781            532
9      Region V         22167            185
10    Region VI        117523           1825
11   Region VII        110683           1760
12  Region VIII         51983            585
13     Region X         82437            848
14    Region XI         32522            385
15   Region XII         59802           2796
16  Region XIII         35293            966

In [8]:
region_dengue['Dengue_Cases'].corr(region_dengue['Dengue_Deaths'])

np.float64(0.408170286966509)

<h3> Data Visualization </h3>